name: continuous-integration

on:
  push:
    branches:
      - master
    tags:
      - v0.*
  pull_request:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-unit-tests:
    name: ci-unit-tests-${{ matrix.component.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component:
          - name: custom-metrics-stackdriver-adapter
            dir: custom-metrics-stackdriver-adapter
            build-target: build
          - name: prometheus-to-sd
            dir: prometheus-to-sd
            build-target: build
          - name: event-exporter
            dir: event-exporter
            build-target: build
          - name: kubelet-to-gcm
            dir: kubelet-to-gcm
            build-target: compile
    if: ${{ hashFiles(format('{0}/go.mod', matrix.component.dir)) != '' }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go from module
      uses: actions/setup-go@v5
      with:
        go-version-file: ${{ matrix.component.dir }}/go.mod
        cache: true
        cache-dependency-path: ${{ matrix.component.dir }}/go.sum
      id: go

    - name: Unit tests
      working-directory: ${{ matrix.component.dir }}
      run: make test

  ci-build:
    name: ci-build-${{ matrix.component.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component:
          - name: custom-metrics-stackdriver-adapter
            dir: custom-metrics-stackdriver-adapter
            build-target: build
          - name: prometheus-to-sd
            dir: prometheus-to-sd
            build-target: build
          - name: event-exporter
            dir: event-exporter
            build-target: build
          - name: kubelet-to-gcm
            dir: kubelet-to-gcm
            build-target: compile
    if: ${{ hashFiles(format('{0}/go.mod', matrix.component.dir)) != '' }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go from module
      uses: actions/setup-go@v5
      with:
        go-version-file: ${{ matrix.component.dir }}/go.mod
        cache: true
        cache-dependency-path: ${{ matrix.component.dir }}/go.sum
      id: go

    - name: Build
      working-directory: ${{ matrix.component.dir }}
      run: make ${{ matrix.component.build-target }}

  ci-container-build:
    name: ci-container-build-${{ matrix.component }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component:
          - custom-metrics-stackdriver-adapter
          - prometheus-to-sd
          - event-exporter
          - kubelet-to-gcm
          - fluentd-gcp-scaler
    if: ${{ hashFiles(format('{0}/Dockerfile', matrix.component)) != '' }}
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Build container
      working-directory: ${{ matrix.component }}
      run: docker build .
